# --- ROS 2 Specific ---
build/
install/
log/

# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# --- C++ Specific ---
*.o
*.so
*.a

# --- Docker & System ---
.DS_Store
*.swp
*.swo

# --- IDEs ---
.vscode/
.idea/
.project
.settings/
